* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('john-towner-JgOeRuGD_Y4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
    color: #000000;
}

.login {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.25) 0px -3px 5px;
}

.picture {
    height: 70%;
    width: 100%;
    background-image: url('john-towner-JgOeRuGD_Y4-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.formbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30%;
}

h2 {
    position: relative;
    transform: rotate(-90deg);
    font-size: 45px;
    height: fit-content;
    left: -40px;
    margin: 0px;
    color: #000000;
    font-family: 'Monsterrat', sans-serif;
}

.line {
    position: relative;
    left: -80px;
    border: .5px solid #00000059;
    width: 0px;
    height: 70%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translate(-80px, 0px);
    width: 275px;
    padding: 20px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.inputbox {
    display: flex;
    flex-direction: row;
    width: 235px;
    height: 35px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LOC {
    border: .5px solid #00000045;
    width: 0px;
    height: 90%;
}

input {
    height: 30px;
    width: 235px;
}

.in-form-links {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

.in-form-links:hover {
    color: #be0000;
}

.in-form-text {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

#user {
    position: absolute;
    z-index: 100;
    right: 35px;
    top: 28px;
}

#pass {
    position: absolute;
    z-index: 100;
    right: 33px;
    top: 63px;
}

.signup {
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-weight: 300;
    border: 1px solid #000000;
    letter-spacing: 1px;
    background-color: transparent;
    border-radius: 30px;
    caret-color: transparent;
}

#Submit {
    width: 100%;
    height: 40px;
    background: rgb(255, 0, 98);
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

#Submit:hover {
    opacity: 70%;
}

.social {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #0000000e;
    color: #00000099;
}

.socialbox:hover {
    background-color: #ffffff;
    border: 1px solid #00000059;
    color: #000000;
}

img {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

img:hover {
    background-color: #ffffff;
}

.socialtext {
    margin-left: 10px;
    margin-right: 20px;
}